@import "../../assets/variables.scss";

.list-wrapper {
  .list {
    width: 350px;
    min-height: 300px;
    border: 1px solid ($theme-color + 20%);
    margin: 20px 10px;
    padding: 4px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px ($theme-color - 10%);

    @media screen and (max-width: 400px) {
      width: 300px;
    }
    .title-and-delete-list {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .list-title {
        margin: 0px;
        padding-top: 16px;
        @include headings;
      }

      .delete-list-wrapper {
        display: flex;
        justify-content: flex-end;

        .delete-list {
          @include close-button;
        }

        .delete-list:hover {
          @include close-button-hover;
        }
      }
    }
  }
}
