@import "../../assets/variables.scss";

header {
  display: flex;
  padding: 40px 0px;
  width: 100%;
  justify-content: flex-end;
  margin-bottom: 40px;
  .username-and-add-list {
    display: flex;
    align-items: center;
    @media screen and (max-width: 780px) {
      flex-direction: column;
      align-items: center;
      .dropdown-wrapper {
        order: 2;
      }
    }
    .dropdown {
      position: relative;
      display: inline-block;
      padding: 12px;

      .dropdown-content {
        display: none;
        position: absolute;
        .logout {
          font-size: 16px;
          margin: 12px 12px;
          border: none;
          background: none;
          padding: 8px;
        }
        .logout:hover {
          color: white;
          background-color: $hover-color;
          padding: 8px;
          border-radius: 4px;
        }
      }

      .dropbtn {
        border: none;
        background: none;
        color: $text-color;
        cursor: pointer;
        padding: 0px 20px;
      }
      .username {
        font-size: 16px;
        display: flex;
        align-items: center;
        letter-spacing: 1px;
      }
    }
    .dropdown:hover .dropdown-content {
      display: block;
    }
  }
}
