// Colors
$text-color: black;
$theme-color: rgb(255, 79, 78);
$hover-color: rgb(255, 79, 78) + 50%;

@mixin headings {
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.8em;
  font-family: "Roboto", sans-serif;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
}
